<div class="rows max-h-full">
  <div class="cols p-20 w-1/2 shadow-2xl rounded-b-lg">
    <div class="col">
      <div class="col-span-full">
        <label for="about" class="block text-sm font-medium leading-6 text-gray-900">Prompt</label>
        <div class="mt-2">
          <textarea id="about" [(ngModel)]="form.text" name="text" rows="20" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
        </div>
        <p class="mt-3 text-sm leading-6 text-gray-600">Write a few sentences.</p>
      </div>
    </div>
    <div class="col mt-10 flex justify-center flex-wrap">
      <button type="button" (click)="submit()" class="rounded-md bg-white px-3 py-2 text-lg font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Submit</button>
    </div>
  </div>
  <app-response [response]="response"></app-response>
</div>
